# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# backend
/backend/node_modules
/Plan.text

# client

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.env

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/authentication/node_modules

/backend/youtube/node_modules